{% for obj in object_list %}              
 <div id="product-{{ obj.id }}" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal"> 
        <span style="font-size: 35px; padding-right: 15px; margin-bottom: 20px;" onclick="document.getElementById('product-{{ obj.id }}').style.display='none'" 
        class="w3-display-topright">&times;</span>
        <h2>Njumu Quick View</h2>
      </header>
      <!-- Modal content -->
<div class="container">
    <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-6 col-lg-6">
              <div class="image-modal">
                <div class="w3-content" style="max-width:600px">
                  <img class="mySlides prdct-img-hidden" src="{{ obj.image.url }}">
                  <img class="mySlides prdct-img-block" src="{{ obj.image.url }}">
                  <img class="mySlides prdct-img-hidden" src="{{ obj.image.url }}">

                  <div class="w3-row-padding w3-section">
                    <div class="w3-col s4">
                      <img class="demo w3-opacity w3-hover-opacity-off prdct-img-preview" src="{{ obj.image.url }}" onclick="currentDiv(1)">
                    </div>
                    <div class="w3-col s4">
                      <img class="demo w3-opacity w3-hover-opacity-off prdct-img-preview" src="{{ obj.image.url }}" onclick="currentDiv(2)">
                    </div>
                    <div class="w3-col s4">
                      <img class="demo w3-opacity w3-hover-opacity-off prdct-img-preview" src="{{ obj.image.url }}" onclick="currentDiv(3)">
                    </div>
                  </div>
                </div>
                <!-- <img class="modal-img-stylng" src="{{ obj.image.url }}" alt="sample90"/> -->
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-md-6 col-lg-6">
              
                <h3 class="shoe-name-modal">{{ obj.title }}</h3>
                <p class="shoe-details-modal">Price: <span class="shoe-price shoe-price-modal"> {{ obj.price }}</span></p>

                <p class="shoe-details-modal">Size: <span class="shoe-size"> {{ obj.shoe_size }}</span></p>
                
                <p class="shoe-details-modal">Condition: <span class="shoe-condition"> {{ obj.shoe_condition }}</span></p>
                
                <p class="shoe-details-modal">Quality Score: <span class="quality-score">{{ obj.quality_score }}%</span> <span class="tooltip far fa-question-circle qs_detail"><span class="tooltiptext">Find out more</span></span></p>
                
                <!-- <div class="price">
                  <s class="initial-price">KES 2,000</s><span class="currency">KES</span> <span class="shoe-price">1,600</span>
                </div> -->
                <a href="#" class="add-to-cart-modal">Add to Cart</a>
              
            </div>
    </div>
</div>
  <footer class="w3-container w3-teal">
  <p>Modal Footer</p>
  </footer>
</div>
</div>
{% endfor %}

<!-- Modal content -->